[dir="ltr"] .col-left-slider{
     border-right: 1px solid var(--color-primary);
}
[dir="rtl"] .col-left-slider{
     border-left: 1px solid var(--color-primary);
}
[dir="ltr"] .col-slider img{
     border-top-left-radius: 22px;
     border-bottom-left-radius: 22px;
}
[dir="rtl"] .col-slider img{
     border-top-right-radius: 22px;
     border-bottom-right-radius: 22px;
}
[dir="rtl"] .ps-md-5 {
     padding-right: 3rem!important;
     padding-left: 0px !important;
 }
 [dir="rtl"] .breadcrumb{
     direction: ltr;
 }